{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    <form class="edit_write_form" action="{% url 'update' match.id %}" method="post" enctype="multipart/form-data" autocomplete="off">
        {%csrf_token%}
        <div class="edit_write_header">
            <h1 class="edit_header">
                POST
                <hr style="width:100px; margin:0 auto; margin-top: 10px;">
            </h1>
        </div>
        
        <div class="edit_write_box">
            <div class="edit_writer_box">
                <input class= "edit_write" type="text" name="writer" value="{{user.nickname}}" readonly>
            </div>

            <div class="edit_title_box">
                <input class="edit_title" type="text" name="title" value="{{match.title}}">
            </div>

            <div class="edit_image_box">
                <input class="edit_image" name="image" type="file">
            </div>

            <div>
                <textarea class="edit_body" name="body">{{match.body}}</textarea>
            </div>
            <p class="caution">
                ※ 이미지를 꼭 선택하셔야 합니다.
            </p>
        </div>

        <div class="edit_submit_button">
            <button class="edit_button" type='submit'>
                확인
            </button>
        </div>


    
        
        <!-- <p>Writer : <input type="text" name='writer' value="{{user.nickname}}" readonly></p> #주석input태그 비활성화 disabled = form전송 X // readonly = form전송 O
        <p>Title : <input type="text" name='title'></p>
        <p>Body : <input type="text" name='body'></p>
        <p>nickname: <input type="text" name="nicknmae" value="{{user.nickname}}"></p>
        <p>Image : <input type="file" name='image'></p> -->

    </form>
{% endblock %}