{% extends 'base.html' %}

{% block content %}
    

    <form class="new_write_form" action="{% url 'create' %}" method="post" enctype="multipart/form-data" autocomplete="off">
        {%csrf_token%}
        <div class="new_write_header">
            <h1 class="new_header">
                POST
                <hr style="width:100px; margin:0 auto; margin-top: 10px;">
            </h1>
        </div>
        
        <div class="new_write_box">
            <div class="new_writer_box">
                <input class= "new_write" type="text" name="writer" value="{{user.nickname}}" readonly>
            </div>

            <div class="new_title_box">
                <input class="new_title" type="text" name="title" placeholder="제목" onfocus="this.placeholder='제목'" onblur="this.placeholder='제목'">
            </div>

            <div class="new_image_box">
                <input class="new_image" name="image" type="file">
            </div>

            <div>
                <textarea class="new_body" name="body" placeholder="글을작성해주세요.

모자: X
상의: (폴로랄프로렌), 커스텀핏 리넨 셔츠 - 블루
하의: (페이탈리즘), Black crude wide fit - 블랙
신발: (나이키), 에어 테일윈드 79 - 흰검
ACC : (구찌), 더블 G키 목걸이"></textarea>
            </div>
            
        </div>

        <div class="new_submit_button">
            <button class="new_button" type='submit'>
                확인
            </button>
        </div>


    
        
        <!-- <p>Writer : <input type="text" name='writer' value="{{user.nickname}}" readonly></p> #주석input태그 비활성화 disabled = form전송 X // readonly = form전송 O
        <p>Title : <input type="text" name='title'></p>
        <p>Body : <input type="text" name='body'></p>
        <p>nickname: <input type="text" name="nicknmae" value="{{user.nickname}}"></p>
        <p>Image : <input type="file" name='image'></p> -->

    </form>
</body>
</html>
{% endblock %}